apiVersion: pkg.crossplane.io/v1
kind: Configuration
metadata:
  name: helm-github-arc
spec:
  package: ghcr.io/hops-ops/helm-github-arc:{{ .Values.version }}
  packagePullSecrets:
    - name: ghcr
  skipDependencyResolution: {{ .Values.skipDependencyResolution }}

{{- if .Values.skipDependencyResolution }}
---
# Only rendered when skipDependencyResolution=true (platform/advanced use case)
# When false, Crossplane automatically resolves and installs embedded functions
apiVersion: pkg.crossplane.io/v1
kind: Function
metadata:
  name: hops-ops-helm-github-arcrender
spec:
  package: ghcr.io/hops-ops/helm-github-arc_render:{{ .Values.version }}
  packagePullSecrets:
    - name: ghcr
  skipDependencyResolution: {{ .Values.skipDependencyResolution }}
{{- end }}
